a {
  text-decoration: underline;
}

.hero {
  display: block;
  width: 1920px;
  height: 764px;
  margin-right: auto;
  margin-left: auto;
}

.mask {
  position: static;
  display: block;
  overflow: hidden;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-arrow {
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.slider {
  position: relative;
  display: block;
  height: 764px;
}

.icon {
  left: 0px;
  top: 0px;
  width: 58px;
  height: 58px;
  margin-left: 0px;
  float: none;
  clear: none;
  border-style: none;
  background-image: url('../img/left-arrow.png');
  background-position: 50% 50%;
  background-size: contain;
  color: rgba(51, 51, 51, 0);
  text-transform: none;
}

.icon-2 {
  width: 58px;
  height: 58px;
  margin-right: 0px;
  background-image: url('../img/right-arrow.png');
  background-position: 0px 0px;
  background-size: contain;
  color: rgba(51, 51, 51, 0);
}

.nav-link {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.nav-link.w--current {
  color: #b39469;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 87px;
  margin-top: 0px;
  background-color: transparent;
}

.brand {
  position: relative;
  width: 155px;
  height: 87px;
  clear: none;
  background-image: url('../img/RCP-logo.png');
  background-position: 50% 50%;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  max-width: 1140px;
  margin-top: 22px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  right: -629px;
  bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.heading {
  display: block;
  margin: auto auto auto -576px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 90px;
  line-height: 100px;
}

.slide-1 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../img/header-image-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  padding: 60px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../img/freeroll_nov_v2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.heading-3 {
  font-family: Roboto, sans-serif;
  color: #b09166;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.heading-4 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 45px;
  font-family: Roboto, sans-serif;
  color: #b09166;
  font-size: 32px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 182px;
  height: 58px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid #b09166;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.div-block {
  position: relative;
  top: -90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 434px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-estrutura {
  position: static;
  display: block;
  width: 1170px;
  height: 434px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  width: 430px;
  padding: 0px 0px 40px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-style: normal;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 183px;
  height: 58px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #b39469, #b39469);
  background-image: linear-gradient(180deg, #b39469, #b39469);
  color: #fff;
  font-size: 15px;
}

.slide-estrutura-1 {
  background-image: url('../img/event-image.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-2 {
  height: 434px;
}

.column {
  display: block;
  padding: 45px;
}

.row {
  position: static;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  padding-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 572px;
}

.estrutura-royal {
  position: static;
  left: 857px;
  top: -439px;
  right: 0px;
  height: 572px;
  margin-top: 0px;
  background-image: url('../img/symbol-detail.png'), -webkit-linear-gradient(270deg, #1c1c1c, #1c1c1c);
  background-image: url('../img/symbol-detail.png'), linear-gradient(180deg, #1c1c1c, #1c1c1c);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 91px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.container-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ultimo-evento {
  display: block;
  height: 572px;
  margin-right: auto;
  margin-left: auto;
  border: 3px none #000;
}

.div-blog-ultimo-evento {
  display: block;
  width: 1170px;
  height: 572px;
  margin-right: auto;
  margin-left: auto;
}

.column-2 {
  padding: 45px;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-2 {
  background-image: url('../img/event-image.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-3 {
  width: 555px;
  height: 434px;
}

.paragraph-3 {
  padding-bottom: 40px;
}

.div-maps-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 572px;
  margin-right: auto;
  margin-left: auto;
}

.body {
  height: 579px;
}

.row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map {
  height: 326px;
  margin-top: 0px;
}

.div_footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #1c1c1c, #1c1c1c);
  background-image: linear-gradient(180deg, #1c1c1c, #1c1c1c);
}

.div-block-3 {
  display: block;
  width: 1170px;
  height: 264px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Playfair Display', sans-serif;
  color: #7a1129;
  font-size: 30px;
}

.paragraph-4 {
  font-family: Roboto, sans-serif;
  color: #dbdbdb;
  font-size: 16px;
}

.heading-7 {
  font-family: Roboto, sans-serif;
  color: #b39469;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.row-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  height: 60px;
  background-color: #7a1129;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  margin-top: 34px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-8 {
  font-family: Roboto, sans-serif;
  color: #b39469;
  font-size: 16px;
  text-align: right;
}

.image-3 {
  padding-top: 38px;
}

.section-sobre-header {
  position: static;
  display: block;
  height: 764px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../img/header-sobre-.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-sobre-header {
  position: static;
  display: block;
  max-width: 1200px;
  margin: -9px auto 0px;
  padding: 239px 310px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-5 {
  position: absolute;
}

.div-block-6 {
  position: absolute;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-7 {
  position: absolute;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-9 {
  margin-top: 47px;
  margin-bottom: 47px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.text-header-2 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.hero-header-sobre {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 1720px;
  height: 764px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../img/header-sobre-.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.paragraph-8 {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
}

.section-feature-sobre {
  height: 733px;
  margin-top: 0px;
  background-color: #7a1129;
}

.div-features-sobre {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 113px;
  padding-bottom: 244px;
}

.column-6 {
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.heading-10 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.paragraph-9 {
  font-family: Roboto, sans-serif;
  color: #b39469;
}

.column-7 {
  padding-right: 41px;
  padding-left: 41px;
  text-align: center;
}

.column-8 {
  padding-right: 41px;
  padding-left: 41px;
  text-align: center;
}

.slider-4 {
  margin-top: 107px;
  margin-bottom: 107px;
}

.mask-2 {
  width: 1140px;
  height: 574px;
  max-height: 574px;
}

.slide-3 {
  height: 100%;
}

.mask-3 {
  height: 574px;
}

.slider-5 {
  height: 574px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.image-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.section-mac-about {
  padding-top: 338px;
}

.hero-header-eventos {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  height: 140px;
  margin-right: auto;
  margin-left: auto;
  background-color: #791028;
}

.section-title-eventos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-title-eventos {
  display: block;
  height: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 101px 266px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-11 {
  font-family: 'Playfair Display', sans-serif;
  color: #791028;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.div-eventos {
  position: relative;
  top: -90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 434px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.section-eventos {
  height: 1200px;
  background-color: #7a1129;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #b09166;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.div-eventos-tab {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.tabs {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.heading-13 {
  margin-bottom: 55px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.heading-14 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.div-block-8 {
  height: 1px;
  background-color: #600b1b;
}

.row-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-content {
  margin-top: 55px;
  margin-bottom: 55px;
}

.text-block {
  font-family: Roboto, sans-serif;
  color: #a32d48;
  font-size: 18px;
  font-weight: 400;
}

.tab-link {
  background-color: #1c1c1c;
  font-family: Roboto, sans-serif;
  color: #b39469;
  font-size: 18px;
}

.tab-link.w--current {
  background-color: transparent;
  color: #fff;
}

.tab-link-2 {
  background-color: #7a1129;
}

.tab-link-2.w--current {
  background-color: transparent;
}

.tab-link-3 {
  background-color: #7a1129;
}

.text-block-2 {
  font-family: Roboto, sans-serif;
  color: #a32d48;
  font-size: 18px;
}

.text-block-3 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
}

.tab-link-4 {
  background-color: transparent;
}

.tab-link-4.w--current {
  background-color: #7a1129;
}

.tabs-menu {
  font-family: Roboto, sans-serif;
  color: #a32d48;
}

.tabs-2 {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.div-line-tab {
  height: 1px;
  max-height: 1px;
  margin-top: 24px;
  background-color: #aa8a5d;
}

.section-ranking-list {
  margin-bottom: 80px;
}

.div-block-9 {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.div-ranking-list {
  display: block;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.heading-15 {
  font-family: Montserrat, sans-serif;
  color: #791028;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.heading-16 {
  font-family: Roboto, sans-serif;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.div-line {
  height: 1px;
  max-height: 1px;
  background-color: #c99fa9;
}

.row-9 {
  margin-bottom: 34px;
}

.row-10 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.row-11 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.row-12 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.row-13 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.row-14 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.row-15 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.section-title-contato {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-contato {
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: Roboto, sans-serif;
  color: #1c1c1c;
  font-size: 18px;
  text-align: center;
}

.section-form {
  margin-bottom: 111px;
}

.div-form {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.text-field {
  height: 44px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: #aa8a5d;
}

.text-field-2 {
  height: 44px;
  border-color: #aa8a5d;
}

.text-field-3 {
  height: 44px;
  border-color: #aa8a5d;
}

.text-field-4 {
  height: 44px;
  margin-bottom: 35px;
  border-color: #aa8a5d;
}

.section-evento-selecionado {
  height: 1175px;
  background-color: #1c1c1c;
}

.div-evento-selecionado {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 101px;
  padding-bottom: 101px;
}

.heading-17 {
  margin-bottom: 49px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.heading-evento-selecionado {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  color: #b09166;
  font-size: 32px;
}

.div-evento-selecionado-tabs {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 101px;
  padding-bottom: 101px;
}

.paragraph-evento-selecionado {
  width: 0px;
  padding: 0px 0px 40px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-style: normal;
}

.paragraph-10 {
  margin-top: 37px;
  margin-bottom: 37px;
  font-family: Roboto, sans-serif;
  color: #fff;
}

.tabs-3 {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.heading-18 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #b09166;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.heading-19 {
  margin-top: 0px;
  margin-bottom: 45px;
  font-family: Roboto, sans-serif;
  color: #7a1129;
  font-size: 45px;
}

.tab-link-5 {
  background-color: #7a1129;
  font-family: Roboto, sans-serif;
  color: #b39469;
  font-size: 18px;
}

.tab-link-5.w--current {
  background-color: transparent;
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .navbar {
    display: block;
  }
  .heading {
    margin-left: -800px;
    padding-left: 0px;
  }
}

