@charset "UTF-8";
/*
--------------------------------------------
ESTRUTURA├ç├âO BASE SASS (Palupa Framework v1.5)
--------------------------------------------
** IMPORTS
** VARI├üVEIS
** ESTILOS GERAIS PARA AS P├üGINAS & BODY
**** TOPO
**** RODAP├ë & COPYRIGHT
**** P├üGINA INICIAL
**** P├üGINAS INTERNAS
**** @MEDIA QUERIES

*/
/*
--------------------------------------------
ARQUIVO BASE SASS (Palupa Framework v1.5)
--------------------------------------------
*/
/* BACKGROUND GRADIENTE */
/* BACKGROUND EM LINHAS */
/* CENTRALIZA O ELEMENTO */
/* CENTRALIZA O ELEMENTO APENAS NA HORIZONTAL */
/* CENTRALIZA O ELEMENTO APENAS NA VERTICAL */
/* DEIXA O ELEMENTO BRANCO */
/* ADICIONA UM TEMPO PARA COME├çAR A ANIMA├ç├âO */
body{
  background: #7a1129;
}
.mobile header {
  width: 100%;
  height: 54px;
  position: relative;
  display: inline-block; }
  .mobile header .botao-voltar {
    position: absolute;
    left: 0;
    top: 1px;
    background-color: #f84e50;
    width: 48px;
    height: 48px; }
    .mobile header .botao-voltar:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: 48px 48px 0 0;
      border-color: rgba(255, 255, 255, 0.15) transparent transparent transparent; }
    .mobile header .botao-voltar i:before {
      color: white;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .mobile header h1 {
    width: 84px;
    height: 19px;
    display: block;
    margin: 18px auto;
    background: url(../img/logo.png) no-repeat;
    background-size: cover; }

.mobile .pg-inicial .col-xs-6 {
  padding: 0.5px; }
.mobile .pg-inicial .item-quadro {
  height: calc(50vh - 1px);
  display: block;
  background-color: #7a1129;
  position: relative;
  text-align: center;
  overflow: hidden; }
  .mobile .pg-inicial .item-quadro:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0 0 47vh 49vw;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-color: transparent transparent rgba(255, 255, 255, 0.07) transparent; }
  .mobile .pg-inicial .item-quadro:active:after {
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .mobile .pg-inicial .item-quadro .caixa-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: transparent; }
    .mobile .pg-inicial .item-quadro .caixa-centro i:before {
      font-size: 65px;
      color: white; }
    .mobile .pg-inicial .item-quadro .caixa-centro h4 {
      font-size: 21px;
      font-weight: 300;
      color: white;
      letter-spacing: 0.03em; 
      text-transform: uppercase;
      margin-top: 25px;
    }

    .loading{
      position: fixed;
      z-index: 999999;
      top: 0;
      left: 0;
      background: #7a1129;
      display: block;
      width: 100%;
      height: 100%;

    }
      .loading .info{
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: block;
        height: 100%;
      }
        .loading .info img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 200px;
        }
      .loader {
       border: 7px solid #f3f3f3;
       border-radius: 50%;
       border-top: 7px solid #5a0c1e;
       width: 60px;
       height: 60px;
       -webkit-animation: spin 2s linear infinite;
       animation: spin 2s linear infinite;
       position: absolute;
       left: 43%;
       transform: translateX(-50%);
       bottom: 20px;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
.pg-torneios{
  background: #7a1129;
  
}
  .pg-torneios .tituloTorneio h6{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
  }
    .pg-torneios .tituloTorneio p{
      color: #fff;
      text-align: center;
      padding: 10px;
      font-size: 100%;
    }
  .pg .titulo{
    background: #6b0d22;
    border-bottom: solid 1px #650d21;
  }
    .pg .titulo .btnVoltar{
  
    }
     .pg .titulo .btnVoltar a{
      background: #fff;
      width: 100%;
      display: block;
      height: 58px;
      text-align: center;
      font-size: 180%;
      padding-top: 14px;
      color: #7a1129;
      }
    .pg .titulo p{
      text-align: center;
      color: #fff;
      font-size: 170%;
      padding-top: 15px;
    }
  .pg-torneios .torneitos{
    padding: 20px 10px;
  }
    .pg-torneios .torneitos .panel-group{

    } 
      .pg-torneios .torneitos .panel-group .panel{
        margin:10px 0;
      }
        .pg-torneios .torneitos .panel-group .panel .panel-heading{
          padding: 0;
        }
          .pg-torneios .torneitos .panel-group .panel .panel-heading h4{
           color: #fff;
           text-transform: uppercase;
           text-align: center;
           font-size: 123%;
           background: #7a1129;
          }
            .pg-torneios .torneitos .panel-group .panel .panel-heading h4 a{
              padding: 20px 10px;
              display: block;
              text-decoration: none;
            }
        .pg-torneios .torneitos .panel-body{

        }
          .pg-torneios .torneitos .panel-body img{
            width: 100%;
            display: block;
          }
          .pg-torneios .torneitos .panel-body button{
            width: 80%;
            display: block;
            margin: 10px auto 0;
            background: #7a1129;
            padding: 7px 10px;
            color: #fff;
            font-size: 115%;
            text-transform: uppercase;
            border: none;
            border-radius: 5px;
          }
/* EXTRAS */
  ::-webkit-scrollbar{
    background:#6b0d22;width:1px;
  }
  ::-webkit-scrollbar-thumb{
    background:#7a1129;
    -webkit-border-radius:2px;
  }
  .pg-embreve .background .logo{
    display: none;
  }
  #modalRegras{
    background: #7a1129;
    position: fixed;
    display: block;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
  }
    #modalRegras .regras{
      padding: 20px;
      color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
      #modalRegras .regras strong{
        font-size: 140%;
      } 
      #modalRegras .regras p{
        font-size: 105%;
        margin: 5px 0;
      } 
.pg-housePouker{

}
  .pg-housePouker .texto{
    padding: 10px;
  }
    .pg-housePouker .texto a{
     text-align: center;
     color: #fff;
     border: solid 1px #fff;
     display: block;
     max-width: 300px;
     margin: 50px auto 15px;
     height: 40px;
     line-height: 40px;
     font-size: 19px;
     text-transform: uppercase;
     text-decoration: none;
    }  
      .pg-housePouker .texto a:hover{
       background: #fff;
       color: #7a1129;
      }
    .pg-housePouker .texto p{
      color: #fff;
      font-size: 17px;
      margin-top: 10px;
    }
  .pg-housePouker .carrossel{
    padding-bottom: 50px;
    max-width: 95%;
    margin: 0 auto;
  }
    .pg-housePouker .carrossel .button{

    }
      .pg-housePouker .carrossel .button button{
        background: #fff;
        border: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        color: #7a1129;
        font-size: 32px;
        outline: none;
        border: solid 1px transparent;
      }
        .pg-housePouker .carrossel .button button:hover{
          background: #7a1129;
          color: #fff;
          border-color: #fff;
        }
       .pg-housePouker .carrossel .button button i{
      
        } 
    .pg-housePouker .carrossel figure{
      display: block;
    }
      .pg-housePouker .carrossel figure img{
        display: block;
        margin: 0 auto;
        width: 100%;
      }
  .pg-contato{

  }
    .pg-contato .formulario{
      padding: 10px;
    }
      .pg-contato .formulario p{
        color: #fff;
        text-align: center;
        font-size: 17px;
        padding-top: 35px;
      }
    .pg-contato .formulario .form{
    
    }
      .pg-contato .formulario .form input{
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding: 10px;
        background: transparent;
        border: solid 1px #fff;
        outline: none;
        color: #fff;
      }
      /* Chrome, Safari, Opera */
      .pg-contato .formulario .form input::-webkit-input-placeholder {
        color: #fff;
      }

      /* Firefox 18- */
      .pg-contato .formulario .form input:-moz-placeholder {
        color: #fff;
      }

      /* Firefox 19+ */
      .pg-contato .formulario .form input::-moz-placeholder {
        color: #fff;
      }

      /* IE10+ */
      .pg-contato .formulario .form input:-ms-input-placeholder {
        color: #fff;
      }

      .pg-contato .formulario .form textarea{
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100px;
        max-height: 100px;
        margin-bottom: 10px;
        padding: 10px;
        background: transparent;
        border: solid 1px #fff;
        outline: none;
        color: #fff;
      }
        /* Chrome, Safari, Opera */
      .pg-contato .formulario .form textarea::-webkit-input-placeholder {
        color: #fff;
      }

      /* Firefox 18- */
      .pg-contato .formulario .form textarea:-moz-placeholder {
        color: #fff;
      }

      /* Firefox 19+ */
      .pg-contato .formulario .form textarea::-moz-placeholder {
        color: #fff;
      }

      /* IE10+ */
      .pg-contato .formulario .form textarea:-ms-input-placeholder {
        color: #fff;
      }
      .pg-contato .formulario .form input[type="submit"]{
        background: #fff;
        border: none;
        display: block;
        width: 100%;
        height: 40px;
        color: #7a1129;
        text-transform: uppercase;
        font-weight: 600;
      }
        .pg-contato .formulario .form input[type="submit"]:hover{
          background: #7a1129;
          color: #ffffff;
          border: solid 1px;
        }
    .pg-contato .map{
      margin: 40px 0;
    }
  footer{
    background: #6b0d22;
    padding: 17px 10px;
  }
    footer .redesSociais{
      text-align: center;
    }
       footer .redesSociais a{
        color: #fff;
        font-size: 25px;
        margin: 0 10px;
      } 
        footer .redesSociais a i{
    
        } 
   footer .desenvolvido{
     text-align: center;
    } 
    footer .desenvolvido a{
      color: #fff;
      font-size: 15px;
    } 
      footer .desenvolvido a img{

      }  
  